.contact{
    height: 100%;
    background-color: #fa8383;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*margin: 0 auto;*/
    justify-content: space-between;
}

input{
    height: 30px;
}

textarea{
    height: 140px;
}