header{
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.header {
    height: 80px;
    background-color: #fff;
    /*border: 4px solid #e806f8;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}