@import '../../../common/styles/sass/variables';

.title {
  margin: 0 0 30px;
  //border: 8px solid #e006f8;
  background-color: $titleBlockBackgroundColor;
  color: $textDescriptionColor;
  position: relative;

  .textTitle {
    font-family: 'Poppins', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-transform: capitalize;
    letter-spacing: 3px;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 55px;
    height: 1px;
    bottom: -20px;
    transform: translate(-50%, 50%);
    left: 50%;
  }
}





