.work {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    /*text-align: center;*/
    /*border: 1px solid #e806f8;*/
}

.pictureProject {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAAHPLyRy6M1AQZ1d8gxuDTnRx5t5GUTHWsg&usqp=CAU");
    background-size: cover;

}

.button {
    width: 100px;
    height: 30px;
    border-radius: 7px;
}

.title {
    background-color: rgba(255, 227, 92, 0.8);
    width: 100%;
}

.description {
    width: 100%;
    text-align: center;
    border: 1px solid #f80202;
}