.skillsBlock {
  /*min-height: 100vh;*/
  background-color: #f8f9fa;
  //border: 3px solid rgb(224, 6, 248);
  padding-top: 110px ;

  .skillsContainer {
    //border: 3px solid rgba(0, 102, 204, 0.63);
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      //border: 1px solid #e806f8;
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
    }
  }

}



