.skillsBlock {
    /*min-height: 100vh;*/
    background-color: rgba(178, 110, 243, 0.6);
}

.skillsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: rgb(155, 240, 248);
}

.skills {
    border: 1px solid #e806f8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}