//background-color: #ddd;  // some grey
//background-color: #f5df4e; // titles
//$backgroundOverallColor: #faf5d8;
$titleBlockBackgroundColor: #f5df4e;
$tileForDescriptionColor: rgba(0, 0, 0, 0.84);
$textDescriptionColor: rgba(0, 0, 0, 0.74);
$backgroundTileForDescriptionColor: rgba(253, 244, 179, 0.87);
$backgroundForPictures: rgba(3, 45, 98, 0.85);