.footer{
    background-color: rgb(255, 83, 38);

}

.footerContainer{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-between;
    border: 1px solid;
    flex-wrap: wrap;
}

.socialIcons {
    background-color: #032d62;
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.socialIconItem {
    background-color: bisque;
    height: 80px;
    width: 80px;

}


.topText{

}

.botText{

}
